.navbar{
    list-style-type:none;
}

.col-con-1{
    width: 300px;
    height:500px ;
    background-color: pink;
    margin-bottom: 10px;
}

.img-con{
    width: 350px;
    height: 200px;
    object-fit: contain;
}

.row-con{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}


.img-each{
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.icon-shop{

color: orange;
font-size: 30px;

}
.nav-font{
    font-size: 25px;
}

.nav-link{
    font-size: 18px;
}


body{
background-image: url("https://media.istockphoto.com/id/958635646/photo/black-wood-texture-background-old-panels-wooden-texture.jpg?s=612x612&w=0&k=20&c=JPCXTLeo2UIRjbLhW9EaNzKBc3cotS3X3yBOQCOLTG8=");
background-attachment: fixed;
background-position: center;


}

.hf{
    font-size: 40px;
    
}

.type-cat{
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}


.our-fe{
height: 350px;
}


.foot{
    background-color: rgb(70, 160, 160);
 padding-bottom: 8px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      
        color: #fff;
        text-align: center;
      
}


.hf-p{
    font-size: 45px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.card-img-pro{
    object-fit: contain;
height: 350px;
object-fit: contain;
width: 100%;


}


.img-con{
    width: 200px;
    height: 300px;
}
.e-img{
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.e-card{
    background-color: transparent;
}

.e-f{
    font-size: 20px;
    
}


.checkout-img{

height: 80px;
width:100px ;
object-fit: contain;

}


.fa-cart-shopping{
    color: black;
    font-size: 20px;
    padding: 4px 1px 4px 1px;
}
.fa-arrow-right-to-bracket{
    color: black;
}

.fa-user{
    color:black;
    
}

.cart{
    background-color: rgb(206, 181, 181);
        border-radius: 10px;
}
.cart-bg-org{
    background-color: orange;
        border-radius: 10px;
}


.btn-nav:hover{
    background-color: rgb(0, 0, 0,.2);
    color: white;
}

.clr-org{
    color: orange;

}

.plus{
    border-radius:50% ;
    background-color: rgb(44, 44, 238);
    padding: 3px 11px;
    border: none;
    color: white;
}
.minus{
    border-radius:50% ;
    background-color: rgb(44, 44, 238);
    padding: 3px 14px;
    border: none;
    color: white;
}

.con-2-inside{
    border-bottom: 1px solid white;
    padding-bottom: 40px;
    border-top: 1px solid white;
    padding-top: 40px;
}


.modal-dialog{
    max-width: 60%;
    margin: auto;
}

.mt-d{
    margin-top: 50px;
}

@media (max-width: 576px) {
    .modal-dialog {
      max-width: 90%;
    }
  }


  .c-p{
    background-color: transparent;
  }


  .img-con-ad{
    height: 60px;
    width: 60px;
  }
  .img-ad{
    height: 60px;
    width: 60px;
  }
.wrp{
    flex-wrap:"wrap";
}

  .fa-circle-check{
    font-size: 120px;

  }

  .input-w{
    width:300px
  }

  .log-icon{
    padding-top:5px;
    padding-bottom:5px;
    font-size:17px;
  }

  .otp-con{
    margin-top: 100px;
  }

  .feedmodal{
    max-width:50%;
    margin: auto;
  }

  @media (max-width: 576px) {
    .feedmodal {
      max-width: 90%;
    }
  }

  .fa-comment{
   font-size: 20px;
   margin-top: 20px;
  }
  .comment{
    cursor: pointer;
  }